.navbar-brand, .navbar-brand:visited, .nav-link, .nav-link:visited{
	color:#ffffff;
}

.navbar-toggler-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	color:#ffffff;
}

.section{
	flex-direction: column;
	display:flex;
	justify-content:center;
	align-items: center;
}

.section > i{
	margin-bottom: 1rem;
}
