
body{
	font-family: 'Nunito Sans', sans-serif;
}

.navbar{
	background: #00274c;
}

.navbar-brand, .navbar-brand:visited, .nav-link, .nav-link:visited{
	color:#ffffff;
}

.navbar-toggler-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	color:#ffffff;
}

.jumbotron{
	background: #ffcb0b;
}

.section{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.section > i{
	color:#00274c;
}

.section > i, .section > img{
	margin-bottom: 1rem;
}

.section > i.fa-basketball-ball{
	color: #ff9000;
	position: relative;
	animation-name: moveBasketball;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(1, 0.9, 1, 1);
}

@keyframes moveBasketball{
	0% {top:-175px; left:-200px;}
	12.5% { top: -100px; left:-100px; }
	25% { top:-50px; left:-50px; }
	40.5% {top:0px; left:0px;}
	50% { top:-75px; left:75px; }
	65.5% {top: -40px; left:-100px;}
	75% { top:-20px; left:-50px; }
	87.5% {top:-10px; left:-25px;}
	93.75% {top:-5px; left:-12px;}
	96% {top: -2px; left: -6px;}
	100% {top:0; left:0;}
}

#umLogo{
	background: #00274c;
	max-height: 64px;
}

i.fa-paint-brush{
	color:#0063c2;
}

.artcontainer{
	background: #e9ecef;
}

@media(min-width: 992px){
	.jumbotron > .container{
		text-align: center;
	}
}
